# Employee Salary Prediction

## Problem Statement
Develop a regression model using Artificial Neural Network (ANN) to predict employee salaries based on various features including credit score, geography, gender, age, tenure, balance, number of products, credit card status, active membership, and churn status. This model can help in salary benchmarking and compensation planning.

In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
import pickle
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [2]:
# Load the data

data = pd.read_csv("dataset/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data

data = data.drop(["RowNumber", "CustomerId", "Surname"], axis=1)
data.shape

(10000, 11)

In [5]:
# Encode categorical variables

label_encoder = LabelEncoder()
label_encoder_gender = label_encoder.fit_transform(data["Gender"])
data['Gender'] = label_encoder_gender

In [7]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [10]:
# OneHot Encode 'Geography'

onehot_encoder = OneHotEncoder()
onehot_encoder_geography = onehot_encoder.fit_transform(data[['Geography']]).toarray()
onehot_encoder_geography_df = pd.DataFrame(onehot_encoder_geography, columns=onehot_encoder.get_feature_names_out(['Geography']))
onehot_encoder_geography_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
combined_data = pd.concat([data.drop('Geography', axis=1), onehot_encoder_geography_df], axis=1)
combined_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [16]:
# Split the data into features and target.

x = combined_data.drop('EstimatedSalary', axis=1)
y = combined_data['EstimatedSalary']

# Split the data into training and testing sets

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=50)

In [17]:
# Scale the features

standard_scaler = StandardScaler()
x_train = standard_scaler.fit_transform(x_train)
x_test = standard_scaler.transform(x_test)

In [20]:
# Save the scaler for later use (encoders are saved from the churn prediction notebook)

with open('saved_models/regression_scaler.pkl', 'wb') as f:
    pickle.dump(standard_scaler, f)

In [23]:
model =  Sequential(
    [
        Dense(64, activation='relu', input_shape=(x_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1,) #Output layer for regression.
    ]
)

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
# Set up early stopping.

early_stopping_fallback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [28]:
history = model.fit(
    x_train, y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[early_stopping_fallback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 13333426176.0000 - mae: 100078.2734 - val_loss: 13211545600.0000 - val_mae: 99737.4688
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 13191342080.0000 - mae: 99366.5391 - val_loss: 12923086848.0000 - val_mae: 98294.0312
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 12682872832.0000 - mae: 96832.3281 - val_loss: 12173919232.0000 - val_mae: 94538.1562
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 11664120832.0000 - mae: 91791.9297 - val_loss: 10902941696.0000 - val_mae: 88180.3359
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 10165768192.0000 - mae: 84330.2969 - val_loss: 9230484480.0000 - val_mae: 79752.2578
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 8390463488.0000 - mae: 75464.7812 - val_loss: 7425198592.0000 - val_mae: 70561.5469
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 6641894400.0000 - mae: 66706.0781 - val_loss: 5807925760.0000 - val_mae: 62212.2148
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 5212717056.0000 - mae: 59510.1328 - val_loss: 4614731776.0000 - val_mae: 55991.6445
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 4263587584.0000 - mae: 54620.8398 - val_loss: 3910133760.0000 - val_mae: 52339.0078
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 3763895808.0000 - mae: 51991.6328 - val_loss: 3578711808.0000 - val_mae: 50725.1875
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 3555655168.0000 - mae: 50920.0938 - val_loss: 3452045056.0000 - val_mae: 50128.0664
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 3480631296.0000 - mae: 50556.0977 - val_loss: 3400955392.0000 - val_mae: 49904.5898
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 3449728000.0000 - mae: 50409.1562 - val_loss: 3375671296.0000 - val_mae: 49788.7148
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 3432259840.0000 - mae: 50326.5391 - val_loss: 3359585792.0000 - val_mae: 49709.4609
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 3419787008.0000 - mae: 50270.8672 - val_loss: 3346106880.0000 - val_mae: 49634.0469
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 3409047296.0000 - mae: 50217.3477 - val_loss: 3335585280.0000 - val_mae: 49580.1758
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 3400094720.0000 - mae: 50173.6328 - val_loss: 3326637056.0000 - val_mae: 49527.3750
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 3392306432.0000 - mae: 50141.3750 - val_loss: 3319161088.0000 - val_mae: 49480.6836
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 3385391872.0000 - mae: 50106.7227 - val_loss: 3313038592.0000 - val_mae: 49447.0898
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 3379157760.0000 - mae: 50079.4453 - val_loss: 3307490816.0000 - val_mae: 49416.6836
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 3373498112.0000 - mae: 50049.3516 - val_loss: 3302236416.0000 - val_mae: 49387.0938
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 3368189696.0000 - mae: 50022.2344 - val_loss: 3298333184.0000 - val_mae: 49363.2656
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 3363918592.0000 - mae: 50001.0898 - val_loss: 3294704896.0000 - val_mae: 49342.9219
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 3360170496.0000 - mae: 49979.9961 - val_loss: 3291761920.0000 - val_mae: 49325.0156
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 3356572928.0000 - mae: 49964.7422 - val_loss: 3288915456.0000 - val_mae: 49312.5391
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 3352758272.0000 - mae: 49943.1094 - val_loss: 3286373888.0000 - val_mae: 49301.7031
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 3349786880.0000 - mae: 49929.8594 - val_loss: 3284958208.0000 - val_mae: 49295.2695
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 3347078912.0000 - mae: 49916.1250 - val_loss: 3282972160.0000 - val_mae: 49285.8945
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 3344569856.0000 - mae: 49901.1211 - val_loss: 3281473792.0000 - val_mae: 49276.9922
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 3342454784.0000 - mae: 49889.0195 - val_loss: 3279838464.0000 - val_mae: 49269.4062
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 3340070144.0000 - mae: 49880.0234 - val_loss: 3279144960.0000 - val_mae: 49265.9141
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 3338085632.0000 - mae: 49867.4688 - val_loss: 3277661440.0000 - val_mae: 49261.1094
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 3336311040.0000 - mae: 49855.2539 - val_loss: 3277436672.0000 - val_mae: 49256.8125
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 3334448128.0000 - mae: 49842.6172 - val_loss: 3276269568.0000 - val_mae: 49252.8633
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 3333399808.0000 - mae: 49840.3477 - val_loss: 3275609600.0000 - val_mae: 49248.7227
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 3331426560.0000 - mae: 49827.0703 - val_loss: 3275214080.0000 - val_mae: 49247.6602
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 3330266112.0000 - mae: 49825.8750 - val_loss: 3274444288.0000 - val_mae: 49245.8398
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 3328796160.0000 - mae: 49811.2344 - val_loss: 3274296576.0000 - val_mae: 49246.1523
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 3327663616.0000 - mae: 49798.7617 - val_loss: 3274022144.0000 - val_mae: 49246.6172
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 3326378752.0000 - mae: 49797.0781 - val_loss: 3273769984.0000 - val_mae: 49243.5508
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 3325324288.0000 - mae: 49787.3867 - val_loss: 3273129472.0000 - val_mae: 49242.2656
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 3324399360.0000 - mae: 49782.6055 - val_loss: 3273401600.0000 - val_mae: 49244.2070
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 3323619328.0000 - mae: 49778.3242 - val_loss: 3273149184.0000 - val_mae: 49241.0312
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 3322824960.0000 - mae: 49771.5586 - val_loss: 3272762624.0000 - val_mae: 49238.7930
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 3321736960.0000 - mae: 49762.0391 - val_loss: 3273086720.0000 - val_mae: 49241.7188
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 3320811520.0000 - mae: 49754.8438 - val_loss: 3273124864.0000 - val_mae: 49246.4258
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 3320299776.0000 - mae: 49757.8633 - val_loss: 3272751104.0000 - val_mae: 49242.7969
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 3319587328.0000 - mae: 49752.0547 - val_loss: 3273069312.0000 - val_mae: 49245.7148
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 3318774784.0000 - mae: 49743.2461 - val_loss: 3272819968.0000 - val_mae: 49246.1055
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 3317908992.0000 - mae: 49741.8711 - val_loss: 3272846848.0000 - val_mae: 49246.5469
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 3317020416.0000 - mae: 49733.7852 - val_loss: 3273038080.0000 - val_mae: 49249.7969
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 3316612352.0000 - mae: 49727.9453 - val_loss: 3273051904.0000 - val_mae: 49250.7266
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 3315925248.0000 - mae: 49726.1562 - val_loss: 3272829184.0000 - val_mae: 49247.8320
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 3315631104.0000 - mae: 49717.7344 - val_loss: 3272962816.0000 - val_mae: 49252.7070
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 3314812416.0000 - mae: 49718.9766 - val_loss: 3273056000.0000 - val_mae: 49251.5273
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 3314133248.0000 - mae: 49712.6211 - val_loss: 3272992512.0000 - val_mae: 49250.3555
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 3313481984.0000 - mae: 49704.6172 - val_loss: 3273008128.0000 - val_mae: 49253.8555

In [29]:
# Evaluate the model

loss, mae = model.evaluate(x_test, y_test)
print(f"Mean Absolute Error on test set: {mae:.4f}")

63/63 [==============================] - 0s 978us/step - loss: 3272751104.0000 - mae: 49242.7969
Mean Absolute Error on test set: 49242.7969

In [30]:
model.save('saved_models/regression_model.h5')

/home/murli/murli/git_projects/employee_churn_modeling/myenv/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(